.topbanner {
  background-image: url(../../img/ui/topBannerBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-inner {
    padding-bottom: 239px;
    padding-top: 556px;
    // min-height: 100vh;
    color: $white;

    @media (max-width: $screen-md-max) {
      padding-bottom: 100px;
      padding-top: 250px;
    }
  }

  &__subtitle {
    line-height: 24px;
    font-weight: 400;
    font-size: 24px;
    display: block;

    @media (max-width: $screen-md-max) {
      line-height: 20px;
      font-size: 20px;
    }
  }

  &__title {
    margin-bottom: 27px;
    line-height: 64px;
    font-weight: 700;
    font-size: 64px;
    margin-top: 4px;
    display: block;

    @media (max-width: $screen-md-max) {
      line-height: 40px;
      font-size: 40px;
    }
  }

}