.btn_ {
  border: 3px solid transparent;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
  font-weight: 700;
  font-size: 18px;
  // height: 100%;
  width: 100%;
  padding: 0;

  //colors
  &_white {
    background-color: $white;
    transform: $transition05 background-color, $transition05 color;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  &_black {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $white;
      border-color: $black;
      color: $black;
    }
  }

  &_xs { // col="2" parent div
    height: 26px;
    width: 26px;
  }

  &_s { // col="5" parent div
    padding-bottom: 8px;
    padding-top: 9px;
    max-width: 206px;
  }

  &_md { // col="6" parent div
    padding-bottom: 11px;
    padding-top: 10px;
    max-width: 252px;
  }

  &_lg { // col="7" parent div
    padding-bottom: 11px;
    padding-top: 10px;
    max-width: 302px;
  }

  &_xl { // col="7" parent div
    padding-bottom: 14px;
    padding-top: 14px;
    max-width: 338px;
  }


  //borders
  &_bordered {
    border-color: $black;
  }

  &_nobold {
    font-weight: 400;
  }
  // &_
  // &_
  // &_
}