.btn_ {
  border: 3px solid transparent;
  text-align: center;
  font-style: 700;
  font-size: 18px;
  width: 100%;
  padding: 0;

  //colors
  &_white {
    background-color: $white;
    transform: $transition05 background-color, $transition05 color;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  &_black {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $white;
      border-color: $black;
      color: $black;
    }
  }

  //sizes
  // &_1 { //col="6" max-width
  //   padding-right: 167px;
  //   padding-left: 167px;
  // }
  // &_2 { //col="6" max-width
  //   padding-right: 18px;
  //   padding-left: 18px;
  // }
  // &_3 { //col="6" max-width
  //   padding-right: 106px;
  //   padding-left: 106px;
  // }
  // &_4 { //col="6" max-width
  //   padding-right: 42px;
  //   padding-left: 42px;
  // }
  // &_5 { //col="6" max-width
  //   padding-right: 97px;
  //   padding-left: 97px;
  // }
  // &_6 { //col="6" max-width
  //   padding-right: 18px;
  //   padding-left: 18px;
  // }

  &_xs { // col="2" parent div
    max-width: 26px;
  }

  &_s { // col="5" parent div
    max-width: 206px;
  }

  &_md { // col="6" parent div
    max-width: 252px;
  }

  &_lg { // col="7" parent div
    max-width: 302px;
  }

  &_xl { // col="7" parent div
    max-width: 338px;
  }


  //borders
  &_bordered {
    border-color: $black;
  }

  &_nobold {
    font-style: 400;
  }
  // &_
  // &_
  // &_
}