.companyinfo {
  background-color: $bg-grey;

  &__inner {
    padding-bottom: 72px;
    padding-top: 48px;

    @media (max-width: $screen-md-max) {
      padding-bottom: 32px;
      padding-top: 32px;
    }
  }

  &-text {
    line-height: 31px;
    font-size: 24px;
    margin: 0;

    @media (max-width: $screen-md-max) {
      font-size: 18px;
    }
  }
}
