.samples-page {
  // &__inner{}

  .row {
    justify-content: space-around;
    border: 1px solid $black;
    border-radius: 8px;
    margin-top: 15px;
    padding: 15px;

    .sample-title {
      margin-bottom: 25px;
    }

    .item {
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    span {
      vertical-align: middle;

      &::before {
        background-color: $black;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
        height: 5px;
        content: '';
        width: 5px;
      }
    }

    .sample-title {
      text-decoration: underline 1px solid;
      text-align: center;
    }
  }

  .icons {
    .icon {
      cursor: pointer;
      font-size: 24px;
    }
  }

  .buttons {
    .btn-wrapper:last-child {
      margin-top: 15px;
    }

    .plus,
    .minus {
      position: relative;

      &:hover::before,
      &:hover::after {
        background-color: $black;
      }
    }

    .plus::before,
    .plus::after,
    .minus::after {
      background-color: $white;
      position: absolute;
      display: block;
      height: 11px;
      content:'';
      width: 3px;
      right: 9px;
      top: 5px;
    }

    .plus::after,
    .minus::after {
      transform: rotate(90deg);
    }
  }

  .logo {

    img {
      cursor: pointer;
    }

    .logo-wrapper-white {
      background-color: $black;
      border-radius: 8px;
      padding: 10px;

      img {
        mix-blend-mode: none;
      }
    }

    .logo-wrapper-black {
      img {
        mix-blend-mode: difference;
      }
    }

  }

  .typography {
    h1 {
      font-weight: 700;
      font-size: 64px;
    }

    h2 {
      font-weight: 700;
      font-size: 36px;
    }

    h3 {
      font-weight: 500;
      font-size: 24px;
    }

    p {
      font-weight: 400;
      font-size: 18px;

      &.bigger {
        font-size: 24px;
      }

      &.medium {
        font-weight: 500;
      }

      &.bold {
        font-weight: 700;
      }
    }
  }

}