.productinfo {
  background-image: url('../../img/ui/bgrdhalf.svg');
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  // position: relative;
  min-height: 100vh;
  min-width: 100vw;

  &__inner {
    margin-top: 84px;
  }

  &__title {
    margin-bottom: 153px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
  }
}
