.news {

  &__inner {
    padding-bottom: 15px;
    padding-top: 146px;

    @media (max-width: 767px) {
      padding-top: 50px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0;
    
    @media (max-width: 767px) {
      font-size: 36px;
    }
  }

  &__slider-wrapper {
    margin-top: 55px;

    .slick-slider {
      padding-right: 79px;
      padding-left: 79px;

      @media (max-width: $screen-md-max) {
        padding-right: 20px;
        padding-left: 20px;
      }

      @media (max-width: $screen-xs-max) {
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    //custom slick arrows start//
    .slick- {
      &arrow {
        height: 22px;
        width: 22px;
        z-index: 2;

        &::before {
          border-bottom: 3px solid;
          border-right: 3px solid;
          border-color: $black;
          display: block;
          height: 22px;
          content: "";
          width: 22px;
        }
      }

      &prev {
        left: 25px;

        &::before {
          transform: rotate(135deg);
        }

        @media (max-width: $screen-lg-max) {
          left: 0px;
        }
      }

      &next {
        right: 25px;

        &::before {
          transform: rotate(-45deg);
        }

        @media (max-width: $screen-lg-max) {
          right: 0px;
        }
      }
    }
    //custom slick arrows end//
  }

  //slide style start//
  &__slide {
    padding-right: 22px;
    padding-left: 22px;

    &-inner {
      background-color: $bg-grey;
    }

    &-info-wrapper {
      padding-right: 3px;
      padding-left: 3px;
    }

    &-img {
      height: 288px;

      @media (max-width: $screen-xs-max) {
        height: 244px;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

      &-title {
        vertical-align: middle;
        word-break: break-word;
        display: inline-block;
        line-height: 31px;
        font-weight: 700;
        font-size: 24px;

        @media (max-width: $screen-md-max) {
          line-height: 25px;
          font-size: 20px;
        }

        &-wrapper {
          text-align: center;
          line-height: 31px;
          padding-top: 20px;
          height: 107px;
        }
      }

      &-description {
        word-break: break-word;
        text-align: center;
        margin-bottom: 0px;
        line-height: 23px;
        font-weight: 400;
        font-size: 18px;

        @media (max-width: $screen-md-max) {
          line-height: 20px;
        }

        &-wrapper {
          height: 111px;
        }
      }

    &-btn {
      text-align: center;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
  //slide style end//
}