

//override the Chrome autocomplete skyblue color. change the 4th value in accordance to the input
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 40px white inset;
}

.svg-defs {
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 0;
}


label {
    cursor: pointer;
}
