//______________________________________________Colors__________________________________________
//colors list
$alto: #D4D4D4;
$black: #000000;
$dodger-blue: #5A88FF;
$lightgrey: #F2F2F2;
$kournikova: #FFDF6B;
$nero: #151515;
$persimmon: #FF5A5A;
$platinum: #E7E7E7;
$saffron-mango: #FAC154;
$white: #FFFFFF;
$silver: #b8b8b8;

//stars
$star-color: $kournikova;

//backgrounds
$bg-white: $white;
$bg-footer: $nero;
$bg-grey: $lightgrey;

//fonts
$font-white: $white;
$font-black: $black;
$font-copyright: $platinum;

//search input hover
$input-hover: $alto;

//products 
// $product-white: $white;
// $product-black: $black;
// $product-orange: $saffron-mango;
// $product-pink: $persimmon;
// $product-blue: $dodger-blue;

//______________________________________________Transition________________________________________________
$transition05: 0.5s ease;

//______________________________________________breakpoints_______________________________________________
$screen-sm-min: map-get($grid-breakpoints, sm); // 576px
$screen-md-min: map-get($grid-breakpoints, md); // 768px
$screen-lg-min: map-get($grid-breakpoints, lg); // 992px
$screen-xl-min: map-get($grid-breakpoints,xl);  // 1350px

$screen-xs-max: $screen-sm-min - 1px; // 575px
$screen-sm-max: $screen-md-min - 1px; // 767px
$screen-md-max: $screen-lg-min - 1px; // 991px
$screen-lg-max: $screen-xl-min - 1px; // 1349px
