//______________________________________________Colors__________________________________________
//colors list
$alto: #D4D4D4;
$black: #000000;
$dodger-blue: #5A88FF;
$grey: #F2F2F2;
$kournikova: #FFDF6B;
$nero: #151515;
$persimmon: #FF5A5A;
$platinum: #E7E7E7;
$saffron-mango: #FAC154;
$white: #FFFFFF;

//stars
$star-color: $kournikova;

//backgrounds
$bg-white: $white;
$bg-footer: $nero;
$bg-grey: $grey;

//fonts
$font-white: $white;
$font-black: $black;
$font-copyright: $platinum;

//search input hover
$input-hover: $alto;

//products 
// $product-white: $white;
// $product-black: $black;
// $product-orange: $saffron-mango;
// $product-pink: $persimmon;
// $product-blue: $dodger-blue;

//______________________________________________Transition________________________________________________
$transition05: 0.5s ease;