.bgrd {
  background-image: url('../../img/ui/bgrdfull.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 157px;
  padding-top: 102px;
  // position: relative;

    @media (max-width: $screen-md-max) {
      padding-bottom: 50px;
      padding-top: 50px;
    }
}