.bgrd {
  background-image: url('../../img/ui/bgrdfull.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // position: relative;
  min-height: 100vh;
  min-width: 100vw;
}